<div class="container d-flex flex-column gap-3 p-4 text-center w-auto rounded"
     [class.bg-success]="(ticker?.isEnabled && stockData?.change) > 0"
     [class.bg-danger]="(ticker?.isEnabled && stockData?.change) < 0"
     [class.bg-secondary]="!ticker?.isEnabled">

       <div class="h1"> {{ ticker.name }} </div>

       @if (stockData) {

       <!-- Stock price -->
       <div class="h2"> {{ stockData.price.toFixed(2) | currency }} </div>
       <!-- Stock price -->

       <!-- Stock price change -->
       <div class="h3"> {{ stockData.change.toFixed(2) | currency }} </div>
       <!-- Stock price change -->

       <!-- Stock price change percentage -->
       <div class="h3"> ({{ stockData.changePercent.toFixed(2) }}%) </div>
       <!-- Stock price change -->

       <!-- Enable or disable stock -->
       <div class="form-check form-switch">
              <input class="form-check-input"
                     type="checkbox"
                     role="switch"
                     id="flexSwitchCheckDefault-{{ ticker.name }}"
                     checked="ticker.isEnabled" (click)="stockEnableDisable()">
              <label class="form-check-label"
                     for="flexSwitchCheckDefault-{{ ticker.name }}">{{ ticker.isEnabled ? 'On' : 'Off' }}</label>
       </div>
       <!-- Enable or disable stock -->

       }
</div>